<div>
  <span>
    Page {{ books.number }} of {{ books.paginator.num_pages }}
  </span>
</div>

<div>
  {% if books.has_previous %}
    <a href="?page=1{% if query %}&q={{ query }}{% endif %}">First</a>
    <a href="?page={{ books.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Previous</a>
  {% endif %}

  {% for num in books.paginator.page_range %}
    {% if books.number == num %}
      <strong>{{ num }}</strong>
    {% elif num > books.number|add:'-3' and num < books.number|add:'3' %}
      <a href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if books.has_next %}
    <a href="?page={{ books.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Next</a>
    <a href="?page={{ books.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">Last</a>
  {% endif %}
</div>

{% if messages %}
  <ul>
    {% for message in messages %}
      <li
        {% if message.tags %}
          class="{{ message.tags }}"
        {% endif %}
      >
        {{ message }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
